@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #3f1243;
  background-image: linear-gradient(140deg, #5784e4 0%, #633366 50%, #3f1243 75%);
  overflow: hidden;

  .wrapper {
    position: relative;
    @extend .dflex;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    justify-content: space-between;

    .pos_abs {
      position: absolute;
      height: 50px;
      color: #fff;
      font-size: 16px;


    }

    .content_left,
    .image_container {
      @extend .dflex;
      width: 50%;
      height: 100%;
      position: relative;
      flex-direction: column;

      h3 {
        font-size: 40vw;
        position: absolute;
        top: 50%;
        left: "150vw";
        transform: translateY(-50%);
        opacity: .1;
        color: #fff;
        line-height: 1;
        overflow: hidden;
      }

      h2 {
        overflow: hidden;

        span {
          display: block;
          font-size: 6.9vw;
          color: #fff;
          line-height: 1.2;
          overflow: hidden;
          letter-spacing: 2px;
        }
      }

      h1 {
        font-size: 5vw;
        position: absolute;
        top: 90%;
        opacity: .1;
        color: #fff;
        line-height: 1;
        border: 4px solid white;
        border-radius: 15px;
      }

      p {
        font-size: 18px;
        margin: 2vw 0;
        position: relative;
        color: #fff;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2vw;
          width: 5vw;
          height: 2px;
          background-color: #fff;
        }
      }

    }

    .content_left {
      align-items: flex-start;
      padding-left: 14vw;
      position: relative;

      .dots {
        @extend .dflex;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 150px;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        span {
          width: 12px;
          height: 12px;
          border-radius: 12px;
          display: block;
          border: 2px solid #fff;

          &.active {
            border: none;
            background-color: #fff;
          }
        }
      }
    }

    .image_container {
      align-items: flex-end;
      padding-right: 150px;
      position: relative;

      img {
        display: block;
        width: 30vw;
      }
    }
  }
}