.HelpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: url(../../../assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
 
.Help-row {
  display: flex;
  flex-direction: column;
  align-items: 'left';
  flex: 1;  
}
 
.Help-col {
  display: flex;
  align-items: 'center';
  flex: 1;  
}
